.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-header {
    height: 90px;
    background-image: url("/img/header-sm.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
}